.NavbarItems {
  background: linear-gradient(
    90deg,
    rgb(241, 185, 88) 0%,
    rgb(252, 170, 63) 100%
  );
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;

  position: sticky;
  width: 100vw;
  top: 0;
  margin-bottom: 2%;
}

h1 {
  font-family: Copperplate, Papyrus, fantasy;
}

.navbar-light .navbar-nav .nav-link.active {
  font-family: Copperplate, Papyrus, fantasy;
}

.navbar-logo {
  color: rgb(200, 70, 70);
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
}

.fa-react {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}
