.brunch {
  display: flex;
  margin-top: 30px;
  margin-bottom: 50px;
}

.brunch_img img {
  width: 450px;
  height: 450px;
  border-radius: 20px;
  margin-left: 250px;
}

.brunch_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.home_container {
  width: 85%;
  margin: 20px auto;
}

.carousel img {
  width: 300px;
  height: 250px;
  border-radius: 30px;
  margin-bottom: 10px;
}
.carousel {
  margin-top: 30px;
}

.react-multi-carousel-item {
  max-width: 330px;
  min-width: 330px;
}
